<!-- This displays the individual users -->

<div class="users_show">
	<p><%= @user.username %></p>
	<p><%= image_tag(@user.avatar, :class => 'medium') if @user.avatar %></p>
	<p><%= @user.email if @user.email %></p>

	<% @user.documents.each do |document| %>
		<%= link_to(document.title, document) %> 
		<%#= link_to(document.classification, document) %>
<% end %>
</div><!-- user_show_div -->