<h3>Revisions</h3>
<div class="revisions_index">
<% @revisions.each do |revision| %>
	<div id="revisions_index_inner">
		<p>title: <%= link_to(revision.title || '', revision) if revision %></p>			
	</div><!-- revisions_index_inner -->
<% end %>
</div><!-- revisions_index -->