<!-- This is the sign-in and sign-up navigator -->

<ul>
	<% if @current_user.nil? %>

		<li><%= link_to('Sign up', new_user_path) %></li>
		<span class="navigationSpace"/>
		<li><%= link_to('Sign in', login_path) %></li>

	<% end %>
</ul>
