
<div class="classifications_menu">
	<p><%= link_to('new', new_classification_path) %></p>	
</div>


<div class="classifications_index">
<% @classifications.each do |classification| %>
	<div id="classifications_index_inner">
			<p><%= link_to(classification.title, classification_path(classification)) if classification.title %></p>	
	</div><!-- classifications_index_inner -->
<% end %>
</div><!-- classifications_index -->