.thumb {
	max-width: 8em;
	border: 2px solid;
}
.users_thumb {
	max-width: 5em;
	border: 2px solid;
}
.medium {
	max-width: 12em;
	border: 2px solid;
}
.notice {
	border: 0.2px dashed orange;
	/*background-color: #ccc;*/
	/*color:#6E7B8B;*/
	/*color: orange;*/
	/*text-transform: uppercase;*/
	font-weight: 600;
	width: 30%;
	margin: 0 0 10px 350px;
	border-radius: 12px;
	display: center;
	background-color: #4D4D4D;
	/*color:#383838;*/
	color: black;
	font-weight: 900;
	font-size: 18px;
    text-shadow: #FFD700 1px 0px 2px;
    -webkit-font-smoothing: antialiased;
    height: auto;
}
.container {
	max-width:960px;
	margin: 80px auto 70px auto;
	display:block;
	text-align: center;
	color: #ccc;
	/*color: #EEE8CD;*/
	/*color: white;*/
	font-family: 'Open Sans', sans-serif;
	/*font-family: 'Bitter', serif;*/
	/*font-family: 'Lato', sans-serif;*/
}
/********** Logo and Backgrounds & @medias **********/
.background_homepage {
	background: url(lionsepia.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/lionsepia.jpg',     sizingMethod='scale');
    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/lionsepia.jpg', sizingMethod='scale');
}
/*#login_background {
	background: url(lionsepia.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/wallpaper.jpg',     sizingMethod='scale');
    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/wallpaper.jpg', sizingMethod='scale');
}*/
#rodger_logo {
	/*margin: 0 auto;*/
	/*left: 550px;*/
	/*top: 100px;*/
	/*margin-left: 100px;*/
	margin: -75px 0px -41px 955px;
	color: white;
	/*text-align: center;*/
/*	font-family: 'Crimson Text', serif;*/
/*	font-family: 'Ovo', serif;*/
	font-family: 'Tienne', serif;
	font-size: 74px;
	/*display: inline-block;*/
}
@media all and (max-width: 600px) {
  #rodger_logo{
  	font-size: 70px;
  }
/*  .main_container, body {
  	width: 50% ;
  }*/
}
/********** Headers **********/
h1{
	display:block;
	/*text-align: center;*/
	font-size: 24px;
	padding-top: 2px;
/*	margin-top: 8px;
	margin-bottom: 5px;
	padding-bottom: 2px;
	margin-left: auto;
	margin-right: auto;*/
	color: white;
}
h2 {
	color:white;
	padding: 6px;
	margin: 0 auto;
	margin-left : 30px;
	display:inline;
	text-align: center;
	font-weight: 900;
	border:0 solid;
	/*width: 55px;*/
	border-radius: 12px;
	background-color: rgba(0, 0, 0, 0.6);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7F00FF00', EndColorStr='#7F00FF00');
	text-shadow: orange 0px 0px 2px;
    -webkit-font-smoothing: antialiased;
}
h3, h4 {
	text-decoration: underline;
	font-size: 10px;
	/*border: 0.2px solid white;*/
}
/********** Body **********/
body {
	font-family: 'Open Sans', sans-serif;
	/*font-family: 'Bitter', serif;*/
	/*font-family: 'Lato', sans-serif;*/
	background-color: #F5F6F8;
	/*background-color: #F5F5F5;*/
	/*background-color: #FFFFFF;*/
	/*background-color: #FFFFFF;*/
	/*background-color: #9FB6CD;*/
	/*margin:0 auto;*/
	/*text-align: center;*/
}
/********** Labels, Buttons, Input, Textareas **********/
input {
	display: block;
	color: #6E7B8B;
	background-color: transparent;
	margin: 6px auto;
	border-radius: 12px;
	width: 360px;
	height: 18px;
	text-align: center;
}
textarea {
        text-align: justify;
        white-space: normal;
        border-radius: none;
}
li {
	list-style-type: none;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	font-size: 12px;
}

label {
	padding: 2px;
	display: center;
	font-size: 12px;
	font-weight: 900;
	/*color: black;*/
	color:white;
	margin:0 auto;
	border:0 solid;
	width: 55px;
	border-radius: 12px;
	background-color: rgba(0, 0, 0, 0.6);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7F00FF00', EndColorStr='#7F00FF00');
}
button {
	margin-top: 12px;
	display: block;
	margin: 0 auto;
	background-color: #CAE1FF;
	width: 120px;
	text-align: center;
}
/********** A HREF Links **********/
a {
	/*color:#EEE9E9;*/
	color:white;
	font-size: 12px;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
}
a:link, a:visited {
	/*color:#EEEED1;*/
	/*color:#FFFFE0;*/
	color:#171717;
	/*color: #FFD700;*/
	text-decoration: none;
	font-weight: 900;
	font-size: 16px;
	text-align: center;
	display:inline-block;
	margin: 0 auto;
}
a:hover {
	/*color:#FFF8DC;*/
	color:#171717;
	text-decoration: none;
	font-size: 12px;
	border-radius: 15px;
	opacity: 0.8;
	box-shadow: 1px 4px 4px #8B8B83;
	text-align: center;
	display:inline-block;
	margin: 0 auto;
} 
span.navigationSpace {
    padding-left: 12px;
}
/*<span class="navigationSpace"/>*/
/********** Top Borders **********/
.top_border {
	font-family: 'Open Sans', sans-serif;
	/*font-family: 'Bitter', serif;*/
	/*font-family: 'Lato', sans-serif;*/
	left: 0; right: 0; top:0;
	height: 60px;
	position: fixed;
	/*background-color: rgba(0, 0, 0, 1);*/
	/*background-color: #171717;*/
	background-color: #F5F5F5;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7F00FF00', EndColorStr='#7F00FF00');
}
/********** Bottom Borders **********/
.bottom_border {
	font-family: 'Open Sans', sans-serif;
	/*font-family: 'Bitter', serif;*/
	/*font-family: 'Lato', sans-serif;*/
	text-align: center;
	left: 0; right: 0; bottom: 0;
	height: 45px;
	position: fixed;
	/*background-color: #171717;*/
	background-color: #F5F5F5;
	/*background-color: rgba(0, 0, 0, 1);*/
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7F00FF00', EndColorStr='#7F00FF00');
}
.bottom_border a:link, 
.bottom_border a:hover,
.bottom_border a:visited {
	/*color:white;*/
	color:#171717;
	font-weight:900;
	font-size: 20px;
	text-decoration: none;
	text-align: center;
}
.bottom_border a:hover {
	font-size: 18px;
	border-radius: 15px;
	opacity: 0.8;
	box-shadow: 1px 4px 4px #8B8B83;
	text-align: center;
} 
/**********Top & Bottom Borders and links for Homepage **********/
.top_border_homepage, .bottom_border_homepage {
	background-color: black;
	/*background-color: white;*/
	margin: 0 auto;
}
.bottom_border_homepage {
	text-align: center;
	left: 0; right: 0; bottom: 0;
	height: 0;
	position: fixed;
	color:black;
}
.top_border_homepage a:hover, .bottom_border_homepage a:hover {
	/*color:#FFF8DC;*/
	/*color:#171717;*/
	color: #FFA500;
	text-decoration: none;
	font-size: 22px;
	border-radius: 15px;
	opacity: 0.8;
	box-shadow: 1px 4px 4px #8B8B83;
	text-align: center;
	display:inline-block;
} 
.top_border_homepage a,
.bottom_border_homepage a {
	/*color:#EEE9E9;*/
	color:white;
	font-size: 8px;
	text-align: center;
	display: inline-block;
}
.top_border_homepage a:link, .top_border_homepage a:visited,
.bottom_border_homepage a:link, .bottom_border_homepage a:visited {
	/*color:#EEEED1;*/
	/*color:#FFFFE0;*/
	/*color:#171717;*/
	color: #FFF68F;
	text-decoration: none;
	font-weight: 900;
	font-size: 16px;
	text-align: center;
	display:inline-block;
}
/********** Forms **********/
.form {
	margin:25px auto;
	border:0 solid;
	border-spacing: 2px;
	width: 240px;
	padding:5px;
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.6);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7F00FF00', EndColorStr='#7F00FF00');
}
#form {
	margin-bottom:20px;
	/*display:inline;*/
}
/********** Show Form Headers **********/
.documents_index, .documents_show, .classifications_menu {
	margin-top: 12px;
	display: block;
	text-align: center;
	/*background: #737373;*/
	border: 2px solid;
	border-radius: 20px;
	background-color: rgba(255, 255, 224, 0.3);
	/*background-color: rgba(255, 250, 205, 0.3);*/
	/*background-color: rgba(100, 100, 100, 0.3);*/
	/*background-color: rgba(200, 200, 200, 0.5);*/
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7F00FF00', EndColorStr='#7F00FF00');
/*	background-image: url(lionsepia.jpg);
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/wallpaper.jpg',     sizingMethod='scale');
    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/wallpaper.jpg', sizingMethod='scale'); */
}
.users_index, .users_show {
	margin-top: 12px;
	display: block;
	text-align: center;
	/*background: #737373;*/
	border: 2px solid;
	border-radius: 20px;
	background-color: rgba(100, 100, 100, 0.3);
	/*background-color: rgba(200, 200, 200, 0.5);*/
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7F00FF00', EndColorStr='#7F00FF00');
/*	background-image: url(lionsepia.jpg);
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/wallpaper.jpg',     sizingMethod='scale');
    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/wallpaper.jpg', sizingMethod='scale'); */
}
/********** Login Forms **********/
.login_form {
	/*margin: 12px;*/
	margin-top: 10px;
}
.login_form p {
	margin-top:20px;
}
.login_form input {
	color: orange;
}
/**********Homepage Login / Logout **********/
#sign_in {
	margin-top: 200px;
}
#homepage_logout_nav, #homepage_login_nav {
	color: white;
	width: 100%;
	/*display: block;*/
	text-align: center;
/*	padding: 15px;*/
	/*margin: 0 auto;*/
/*	margin-left: 350px;
	margin-right: 350px;*/
}
.homepage_top {
	display:inline;
}
/********** Search Forms **********/
.search_form input {
	display: center;
	background-color: #4D4D4D;
	color:#383838;
	font-weight: 900;
	font-size: 18px;
    text-shadow: #FFFFE0 1px 0px 2px;
    /*text-shadow: #FFD700 1px 0px 2px;*/
    -webkit-font-smoothing: antialiased;
    height: auto;
}
.search_results {
	font-size: 6px;
	padding:3px;
	display:inline-block;
}
.search_results a{
	/*margin-left: 45px;*/
}
/********** Document Forms **********/
.document_form {
	margin-top: 24px;
}
.document_form p {
	margin: 12px auto;
	/*display:block;
	text-align: center;*/
}
#document_form_button input, #search_form_button input, 
#login_form_button input, #user_signup_form_button input,
#classification_form_button input {	
	width: 120px;
	height: 30px;
	box-shadow: 1px 4px 4px #8B8B83;
	/*box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 1px rgba(255, 255, 255, 0.5) inset;*/
	background-color: #777;
	margin-top: 30px;
	color:#FFFfe0;
	text-transform: uppercase; 
	/*display: inline;*/
	 text-shadow: orange 0px 0px 2px;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}
/********** Document Show **********/
#documents_show_menu {
	display:inline;
	text-align: center;
	margin: 0 auto;
}
#document_content {
	display: block;
	color: #6E7B8B;
	background-color: transparent;
	margin: 6px auto;
	border-radius: 12px;
	width: 420px;
	height: 100px;
	text-align: justify;
	/*overflow:visible;	*/
}
#documents_show_notes p {
	display:block;
	text-align: justify;
	font-size: 12px;
	color: #7F7F7F;
}
#documents_show_notes li, #document_show_notes_user li {
	display:block;
	text-align: right;
	margin: 0 auto;
	color: #9FB6CD;
	font-size: 10px;
}
/********** Document & Users Index Inners & Links **********/
 #users_index_inner {
	 margin-top: 12px;
	 display: inline-block;
	 width: 100px;
	 height: 100px;
	 font-size: 10px;
	 padding: 8px;
	 border: 0.2px solid #7F7F7F;
	 /*background-image: url(metalbackground.jpg);*/
	 /*background-image: url(greylights.jpg);*/
	 overflow:hidden;
}
 #documents_index_inner p:last-child{
	/*width: 10px;
	overflow: hidden;
	overflow:auto;
	text-overflow: ellipsis-word;*/
	color:#3D3D3D;
}
#documents_index_inner a:link, 
#documents_index_inner a:visited {
	/*color:#EEEED1;*/
	/*color:#FFFFE0;*/
	color: black;
	text-decoration: none;
	/*font-weight: 900;*/
	font-size: 10px;
	background-color:#9C9C9C;
	padding:4px;
	border-radius: 15px;
}
#documents_index_inner a:hover {
	color:#FFFFE0;
	/*color:#FFF8DC;*/
	text-decoration: none;
	font-size: 12px;
	/*border-radius: 15px;*/
	/*opacity: 0.8;*/
	box-shadow: none;
}
.documents_index p:last-child, 
.documents_show p:last-child {
	text-align: justify;
}
#documents_index_inner {
	 margin-top: 12px;
	 display: inline-block;
	 width: 240px;
	 height: 180px;
	 font-size: 10px;
	 padding: 8px;
	 border: 0.2px solid #7F7F7F;
	 /*background-image: url(metalbackground.jpg);*/
	 /*background-image: url(greylights.jpg);*/
	 overflow:hidden;
	 border-radius: 12px;
	 /**/
}
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#users_index_inner {
	 margin-top: 12px;
	 display: inline-block;
	 width: 100px;
	 height: 140px;
	 font-size: 10px;
	 padding: 8px;
	 border: 0.2px solid #7F7F7F;
	 color: orange;
	 /*background-image: url(metalbackground.jpg);*/
	 /*background-image: url(greylights.jpg);*/
	 overflow:hidden;
}
#users_index_inner, #documents_index_inner {
	overflow: auto;
}
.users_show {
	padding: 9px;
	margin: 0 auto;	
	background-color: rgba(100, 100, 100, 0.3);
}
.users_show a:link, .users_show a:visited {
	/*color:#EEEED1;*/
	/*color:#FFFFE0;*/
	/*color:transparent;*/
	text-decoration: none;
	font-weight: 900;
	/*font-size: 18px;*/
	text-align: center;
	display:inline-block;
	background-color: rgba(100, 100, 100, 0.6);
	border-radius: 10px;
	padding:6px;
}
.users_show a:hover,{
	/*color:#FFF8DC;*/
	color:#ccc;
	text-decoration: none;
	font-size: 8px;
	border-radius: 15px;
	opacity: 0.8;
	box-shadow: 1px 4px 4px #8B8B83;
	text-align: center;
	display:inline-block;
}
#users_index_inner a {
	/*color:#EEE9E9;*/
	color:white;
	font-size: 12px;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
}
#users_index_inner a:link, #users_index_inner a:visited {
	/*color:#EEEED1;*/
	/*color:#FFFFE0;*/
	color:#ccc;
	/*color: #FFD700;*/
	text-decoration: none;
	font-weight: 900;
	font-size: 14px;
	text-align: center;
	display:inline-block;
	margin: 0 auto;
}
#users_index_inner a:hover {
	/*color:#FFF8DC;*/
	/*color:#171717;*/
	/*color:#EEEED1;*/
	/*color: #FFF68F*/
	color: orange;
	text-decoration: none;
	font-size: 12px;
	border-radius: 15px;
	opacity: 0.8;
	box-shadow: 1px 4px 4px #8B8B83;
	text-align: center;
	display:inline-block;
	margin: 0 auto;
}
#users_index_inner li {
	padding:6px;
	font-size: 8px;
}
/********** Revision Forms Index & Links **********/
.revisions_index {
	color: black;
}
#revisions_index_inner {
	margin-top: 12px;
	font-size: 10px;
	display:inline-block;
}.revisions_index p {
	margin-top: 12px;
	font-size: 8px;
}
#revisions_index_inner a {
	/*color:#EEE9E9;*/
	color:white;
	font-size: 8px;
	text-align: center;
	display: inline-block;
}
#revisions_index_inner a:link, #revisions_index_inner a:visited {
	/*color:#EEEED1;*/
	/*color:#FFFFE0;*/
	color:#ccc;
	text-decoration: none;
	font-weight: 900;
	font-size: 14px;
	text-align: center;
	display:inline-block;
	background-color: rgba(100, 100, 100, 0.6);
	border-radius: 10px;
	padding:6px;
}
#revisions_index_inner a:hover {
	/*color:#FFF8DC;*/
	color:#ccc;
	text-decoration: none;
	font-size: 12px;
	border-radius: 15px;
	opacity: 0.8;
	box-shadow: 1px 4px 4px #8B8B83;
	text-align: center;
	display:inline-block;
}
/********** Revision Forms Show **********/
.revisions_show p{
	display:block;
	text-align: justify;
	font-size: 12px;
	color: #7F7F7F;
}
.revisions_show {
	border: 2px solid #ccc;
	border-radius: 12px;
	margin-top: 16px;
}
/********** Classification Forms Index & Links **********/
.classifications_menu {
	border:2px solid #ccc;
	border-radius: 12px;	
	margin-top: 12px;
	padding: 6px;
	text-align: center;
	display: block;
}
.classifications_show, #classifications_show_documents {
	color: #7F7F7F;
}
#classifications_index {
	display:inline-block;
	text-align: center;
	margin: 0 auto;
}
.classifications_menu, #classifications_index {
	color:#3D3D3D;
	/*background-color: grey;*/
}
#classifications_index link_to, 
#classifications_index link_to, 
#classifications_index link_to,
	/*.classifications_menu a, .classifications_index a,
	.classifications_menu a:link, .classifications_index a:link,
	.classifications_menu a:visited, .classifications_index a:visited*/ {
	color:#FFFFE0;
	text-decoration: none;
	font-size: 14px;
	display:inline-block;
	width:100%;
} 
#classifications_index link_to {
	color:#FFF8DC;
	/*color:pink;*/
	text-decoration: none;
	font-size: 14px;
	box-shadow: none;
}
.classifications_show a{
	font-size: 24px;
}